@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply antialiased;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #3b82f6;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-to-br {
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: all 0.1s ease;
  transform: translate(-50%, -50%);
}

@media (hover: hover) and (pointer: fine) {
  body:hover .custom-cursor {
    opacity: 1;
  }

  body:not(:hover) .custom-cursor {
    opacity: 0;
  }
}

@media (hover: none) and (pointer: coarse) {
  .custom-cursor {
    display: none;
  }
}

@keyframes sparkle {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.sparkle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  animation: sparkle 1s ease-in-out infinite;
}

